# compilation and distribution
__pycache__
_ext
*.pkl
*.pyc
*.so
build/
dist/
*.egg-info/
KPConv-PyTorch/test/
KPConv-PyTorch/results/
ScanNet/
SparseConvNet/
outputs_use/scannet/mvpnet_3d_unet_resnet34_pn2ssg/*
outputs_use/scannet/unet_resnet34/*

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project dirs
/data
/outputs